---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <main
    class="text-white absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-center flex flex-col justify-center items-center"
  >
    <h1 class="text-2xl font-bold">Work-in-progress!</h1>
    <a
      href="/"
      title="Back to Home"
      class="hover:text-orange-400 underline underline-offset-2">&larr; back</a
    >
  </main>
</Layout>
