---
type Content = BulletPoint[] | SubContent[];

type BulletPoint = {
  content: string;
  listStyleType?: string;
};

type SubContent = {
  title: string;
  emoji?: string;
  bullets: { listStyleType?: never } & BulletPoint[];
};

interface Props {
  name: string;
  iconName: string;
  defaultBulletListStyleType?: string;
  content: Content;
  iconClasses?: string;
  last?: boolean;
}

import Icon from "astro-icon";
import { string } from "astro/zod";
import { marked } from "marked";

let {
  name,
  iconName,
  content,
  iconClasses = null,
  defaultBulletListStyleType = null,
  last = false,
} = Astro.props;

// Type guard function for BulletPoint
function isBulletPoint(obj: any): obj is BulletPoint {
  return (
    typeof obj === "object" &&
    "content" in obj &&
    typeof obj.content === "string"
  );
}

// Type guard function for SubContent
function isSubContent(obj: any): obj is SubContent {
  return (
    typeof obj === "object" &&
    "title" in obj &&
    typeof obj.title === "string" &&
    "subcontent" in obj
  );
}

// Type guard function for BulletPoint
function isBulletPointArray(arr: any[]): arr is BulletPoint[] {
  return (
    Array.isArray(arr) &&
    arr.every((item) => typeof item === "object" && "content" in item)
  );
}

// Type guard function for SubContent
function isSubContentArray(arr: any[]): arr is SubContent[] {
  return (
    Array.isArray(arr) &&
    arr.every(
      (item) =>
        typeof item === "object" &&
        "title" in item &&
        typeof item.title === "string" &&
        "subcontent" in item
    )
  );
}
---

<div
  class="border-l-blue-500 dark:border-l-orange-500 print:border-none border-l-[5px] h-fit flex flex-row interest-container child:transform-gpu"
>
  <div
    class="h-[38px] w-[38px] md:h-[48px] md:w-[48px] relative right-[21px] md:right-[26px] print:hidden bg-blue-500 dark:bg-orange-600 rounded-full"
  >
    <div class:list={["drop-shadow-[1.5px_1.5px_0px_#0004] text-white"]}>
      <Icon
        class:list={[
          "transform-gpu h-[38px] md:h-[48px] p-2 object-contain",
          iconClasses,
        ]}
        name={iconName}
      />
    </div>
  </div>
  <div class="relative right-[5px] print:right-0 flex flex-col pt-2">
    <h2 class="text-xl md:text-2xl font-bold">{name}</h2>
    <ol
      class="pl-5 text-base md:text-lg child:pl-2 child:mb-2 pt-1 print:child:!list-disc"
    >
      {
        content.map((content: BulletPoint | SubContent) => (
          <li
            style={
              "list-style-type: " +
              (("title" in content ? content.emoji : content.listStyleType) ??
                defaultBulletListStyleType ??
                "disc")
            }
            set:html={
              isBulletPoint(content)
                ? marked.parse(content.content)
                : marked.parse(
                    `**${content.title}:** <div class="child:list-disc child:pl-4 relative">\n` +
                      content.bullets
                        .map((bullet) => `- ${bullet.content}`)
                        .join("\n") +
                      "</div>"
                  )
            }
          />
        ))
      }
    </ol>
  </div>
</div>
<div
  class="w-[20px] h-[20px] rounded-full bg-rose-600 dark:bg-yellow-500 z-[99] scale-[105%] relative right-[7px]"
>
</div>
<div
  class={"border-l-rose-600 dark:border-l-yellow-500 print:border-none border-l-[5px] h-[16px] print:pt-2 " +
    (last ? "rounded-b-md !h-[12px]" : "")}
>
</div>
