---
interface Props {
  title: string;
  bodyClass?: string;
}

import { ViewTransitions } from "astro:transitions";
import SpeedInsights from "@vercel/speed-insights/astro";

const { title, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <slot name="headTop" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      const themeMatcher =
        window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)");
      const event = new Event("theme-change");

      function setTheme(theme = "", documentE = document) {
        if (!!theme) {
          let newTheme = theme === "dark" ? "dark" : "light";
          sessionStorage.setItem("theme", newTheme);
          if (newTheme === "dark")
            documentE.documentElement.classList.add("dark");
          else documentE.documentElement.classList.remove("dark");
          document.dispatchEvent(event);
          return;
        }
        sessionStorage.setItem(
          "theme",
          sessionStorage.getItem("theme") ||
            (themeMatcher && themeMatcher.matches ? "dark" : "light") ||
            "dark"
        );
        documentE.documentElement.classList.add(
          sessionStorage.getItem("theme")
        );
        documentE.documentElement.classList.remove(
          sessionStorage?.theme === "dark" ? "light" : "dark"
        );
      }

      themeMatcher.addEventListener("change", (e) => {
        setTheme(e.matches ? "dark" : "light");
      });

      setTheme();
      document.addEventListener("astro:before-swap", (ev) => {
        setTheme(undefined, ev.newDocument);
      });
    </script>
    <title>{title}</title>
    <SpeedInsights />
  </head>
  <body
    class:list={[
      "dark:bg-neutral-900 transition-colors duration-100 bg-neutral-50 print:bg-white text-neutral-900 dark:text-neutral-100 overflow-y-scroll antialiased",
      bodyClass ?? "",
    ]}
  >
    <slot />
  </body>
</html>
